type hal_lineage_touch_sony_sdm845, domain, coredomain;
hal_server_domain(hal_lineage_touch_sony_sdm845, hal_lineage_touch)

type hal_lineage_touch_sony_sdm845_exec, exec_type, file_type, system_file_type;
init_daemon_domain(hal_lineage_touch_sony_sdm845)

allow hal_lineage_touch_sony_sdm845 sysfs_touchscreen:file rw_file_perms;
