on boot
# led RGB
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/lut_pwm
    chown system system /sys/class/leds/red/step_duration
    chown system system /sys/class/leds/red/pause_lo_multi
    chown system system /sys/class/leds/red/pause_hi_multi
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/lut_pwm
    chown system system /sys/class/leds/green/step_duration
    chown system system /sys/class/leds/green/pause_lo_multi
    chown system system /sys/class/leds/green/pause_hi_multi
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/lut_pwm
    chown system system /sys/class/leds/blue/step_duration
    chown system system /sys/class/leds/blue/pause_lo_multi
    chown system system /sys/class/leds/blue/pause_hi_multi

    chmod 660 /sys/class/leds/rgb/sync_state
    chmod 660 /sys/class/leds/rgb/start_blink
    chmod 660 /sys/class/leds/red/brightness
    chmod 660 /sys/class/leds/red/lut_pwm
    chmod 660 /sys/class/leds/red/step_duration
    chmod 660 /sys/class/leds/red/pause_lo_multi
    chmod 660 /sys/class/leds/red/pause_hi_multi
    chmod 660 /sys/class/leds/green/brightness
    chmod 660 /sys/class/leds/green/lut_pwm
    chmod 660 /sys/class/leds/green/step_duration
    chmod 660 /sys/class/leds/green/pause_lo_multi
    chmod 660 /sys/class/leds/green/pause_hi_multi
    chmod 660 /sys/class/leds/blue/brightness
    chmod 660 /sys/class/leds/blue/lut_pwm
    chmod 660 /sys/class/leds/blue/step_duration
    chmod 660 /sys/class/leds/blue/pause_lo_multi
    chmod 660 /sys/class/leds/blue/pause_hi_multi

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.sony_sdm845
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical
